<mat-toolbar>Parametros</mat-toolbar>

<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
    <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="filtrar($event)" placeholder="Buscar parametro">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="idParmae">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.idParmae}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                <!-- <input matInput type="text" [value]="element.nombres" >-->
            </ng-container>
            <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="descri">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descripciónddddd </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descri}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button color="primary" [routerLink]="['edicion', row.idParmae]">
                        <mat-icon>ballot</mat-icon>
                    </button>
                    <button mat-button color="accent" (click)="eliminar(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
<button mat-fab color="accent" style="float: right" routerLink="/parmae/nuevo">
    <mat-icon>add</mat-icon>
</button>