.example-container {
    display: flex;
	flex-wrap: wrap;
    /* flex-direction: row; 
    align-items: flex-start; */
}

/* .example-container {
    display: flex;
    flex-direction: column;
} */

.example-container>* {
    width: 100%;
}

.grupo {
	width: 100%;
}

.grupo>* {
	/* width: 100%; */
	padding: 0 40px 0 10px;
    margin-left: 10px;
}
